@model ProjectManager.Application.Project.ProjectDto

@{
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1>@Model.Name</h1>
    <h3>Details</h3>
</div>
<div class="">
    <div class="d-flex justify-content-center align-items-center">
        <div class="p-2">
            <a class="btn @(controller == "Project" && action == "Details" ? "btn-primary" : "btn-secondary")" style="margin: auto;" asp-area="" asp-controller="Project" asp-action="Details">Overview</a>
        </div>
        @if (Model.IsEditable)
        {
            <div class="p-2">
                <a class="btn @(controller == "Project" && action == "Tasks" ? "btn-primary" : "btn-secondary")" style="margin: auto;" asp-area="" asp-controller="Project" asp-action="Tasks" asp-route-encodedName="@Model.EncodedName">Tasks</a>
            </div>
        }
        <div class="p-2">
            <a class="btn @(controller == "Project" && action == "Index" ? "btn-primary" : "btn-secondary")" style="margin: auto;" asp-area="" asp-controller="Project" asp-action="Contributors" asp-route-encodedName="@Model.EncodedName">Contributors</a>
        </div>
    </div>
</div>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
    </dl>
</div>
<div class="text-center">
    @if (Model.IsEditable)
    {
        <a class="btn btn-primary" asp-controller="Project" asp-action="Edit" asp-route-encodedName="@Model.EncodedName">Edit</a>
    }
    <a asp-action="Index" class="btn btn-secondary m-1">Back to List</a>
</div>
