@model ProjectManager.Application.Project.ProjectDto

@{
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
    ViewData["Title"] = "Details";
}

<div class="text-center mb-4">
    <h1>@Model.Name</h1>
</div>

<div class="mb-4">
    <div class="d-flex justify-content-center">
        <a class="btn @(controller == "Project" && action == "Details" ? "btn-primary" : "btn-secondary")"
           asp-controller="Project" asp-action="Details" asp-route-projectEncodedName="@Model.EncodedName">Overview</a>
        <a class="btn @(controller == "Project" && action == "Tasks" ? "btn-primary" : "btn-secondary") mx-2"
           asp-controller="Project" asp-action="Tasks" asp-route-projectEncodedName="@Model.EncodedName">Tasks</a>
        <a class="btn @(controller == "ProjectContributors" && action == "Contributors" ? "btn-primary" : "btn-secondary")"
           asp-controller="ProjectContributors" asp-action="Contributors" asp-route-projectEncodedName="@Model.EncodedName">Contributors</a>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h5 class="card-title">Project Details</h5>
        <hr />
        <div class="mb-3">
            <strong>Name:</strong>
            <p>@Model.Name</p>
        </div>
        <div class="mb-3">
            <strong>Description:</strong>
            <p style="white-space: pre-wrap;" class="card-text">@(!string.IsNullOrWhiteSpace(Model.Description) ? Model.Description : "No description provided")</p>
        </div>
        <div class="mb-3">
            <strong>Finish Date:</strong>
            <p>@(Model.FinishDate.ToString("dd-MM-yyyy") ?? "No deadline set")</p>
        </div>
    </div>

    <div class="text-center mb-4">
        @if (Model.IsEditable)
        {
            <a class="btn btn-primary" asp-controller="Project" asp-action="Edit" asp-route-projectEncodedName="@Model.EncodedName">Edit Project</a>
        }
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
