@model IEnumerable<ProjectManager.Application.Project.ProjectDto>

@{
    ViewData["Title"] = "Projects";
}

<div class="row d-flex justify-content-center flex-column align-items-center">
    <h1 class="text-center">Projects</h1>
    <p class="text-center">
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-center">
                <span>Finish Date</span>
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td style="display: flex; justify-content: flex-end; align-items: center;">
                    <a class="btn btn-outline-primary m-1" asp-controller="Project" asp-action="Details" asp-route-encodedName="@item.EncodedName">Details</a>
                    <a class="btn btn-outline-secondary m-1" asp-controller="Project" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                    <a class="btn btn-danger m-1" asp-controller="Project" asp-action="Delete" asp-route-encodedName="@item.EncodedName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

